<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BA104G1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/Takecare</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>NewsdetailServlet</servlet-name>
    <servlet-class>com.newsdetail.controller.NewsdetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsdetailServlet</servlet-name>
    <url-pattern>/newsdetail/newsdetail.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HealthNewsDetailServlet</servlet-name>
    <servlet-class>com.healthnewsdetail.controller.HealthNewsDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HealthNewsDetailServlet</servlet-name>
    <url-pattern>/healthnewsdetail/healthnewsdetail.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CarComplainServlet</servlet-name>
    <servlet-class>com.carcomplain.controller.CarComplainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarComplainServlet</servlet-name>
    <url-pattern>/carcomplain/carcomplain.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HcComplainServlet</servlet-name>
    <servlet-class>com.hccomplain.controller.HcComplainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HcComplainServlet</servlet-name>
    <url-pattern>/hccomplain/hccomplain.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MealComplainServlet</servlet-name>
    <servlet-class>com.mealcomplain.controller.MealComplainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MealComplainServlet</servlet-name>
    <url-pattern>/mealcomplain/mealcomplain.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShopComplainServlet</servlet-name>
    <servlet-class>com.shopcomplain.controller.ShopComplainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopComplainServlet</servlet-name>
    <url-pattern>/shopcomplain/shopcomplain.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsDBGifReader</servlet-name>
    <servlet-class>com.newsdetail.controller.NewsDBGifReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsDBGifReader</servlet-name>
    <url-pattern>/newsdetail/newsimgread.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HealthNewsDBGifReader</servlet-name>
    <servlet-class>com.healthnewsdetail.controller.HealthNewsDBGifReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HealthNewsDBGifReader</servlet-name>
    <url-pattern>/healthnewsdetail/healthimgread.do</url-pattern>
  </servlet-mapping>
  
  
  <context-param>
    <param-name>org.apache.tomcat.websocket.textBufferSize</param-name>
    <param-value>307200</param-value>
  </context-param>
 
  <servlet>
    <servlet-name>MessageServlet</servlet-name>
    <servlet-class>com.message.controller.MessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageServlet</servlet-name>
    <url-pattern>/message/message.do</url-pattern>
  </servlet-mapping>
  
  
</web-app>