
/* navbar 系列 ======================== */

/* navbar 整體主色 */
.navbar{
	 background-color: #FFC229;
}
.navbar-default{
    background-color: #FFC229;
}

/* navbar 字體 */
.navbar{
	font-size: 14px;
	text-shadow:0px 0px 0px #000000;
}

/* navbar 字體顏色 */
.navbar-default .navbar-nav > li > a {
    color: #FFFAFA;
}

.navbar-default .navbar-text {
    color: #000000;
}



/* navbar 滑過 字體顏色及背景 */
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #FFDD55;
    color: #000000;
}


.navbar-text {
     float: none; 
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FFC229; 
 /*    color: white; */
    text-align: center;
}
</style>
